html {
    background: url("/image/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #fff;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 span {
    font-weight: 900;
    font-size: 30px;
}

p {
    color: #fff;
}

body {
    font-family: sans-serif;
}

.container {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 146, 156, 0.4);
    width: 500px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    align-items: flex-start;
    grid-template-areas:'game score'
                        'game next';
}

.game-area {
    display: block;
    margin-left: 5%;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}
.out-glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 8px 32px 0 rgba(0, 0, 0, 0.7);
}
.glass .out-glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 8px 32px 0 rgba(0, 0, 0, 0.7);
}
.out-glass .glass {
    border-radius: 10px;
}
